export(cv_partition)
export(error_632)
export(error_632plus)
export(error_apparent)
export(error_bcv)
export(error_boot)
export(error_cv)
export(error_loo_boot)
export(errorest)
export(partition_data)
export(sim_data)
export(sim_normal)
export(sim_student)
export(sim_unif)
export(which_min)
