export(cov_autocorrelation)
export(cov_block_autocorrelation)
export(cov_intraclass)
export(cv_partition)
export(error_632)
export(error_632plus)
export(error_apparent)
export(error_bcv)
export(error_boot)
export(error_cv)
export(error_loo_boot)
export(errorest)
export(partition_data)
export(simdata_contaminated)
export(simdata_data)
export(simdata_duin)
export(simdata_friedman)
export(simdata_guo)
export(simdata_normal)
export(simdata_t)
export(simdata_uniform)
export(which_min)
importFrom(bdsmatrix,bdsmatrix)
importFrom(mvtnorm,rmvnorm)
importFrom(mvtnorm,rmvt)
